<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% block title %}Stockade{% endblock %}</title>
    <meta name="application-name" content="Stockade"/>
    <meta name="msapplication-TileColor" content="#004d18"/>
    <meta name="msapplication-TileImage" content="apple-touch-icon-144x144.png"/>


    <link href="/static/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/css/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-glyphicons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/css/typeahead.js-bootstrap.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.min.js"></script>
    <script src="/static/js/stockade.js"></script>
    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      var csrftoken = getCookie('csrftoken');
      $.ajaxSetup({
        crossDomain: false,
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Stockade</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Projects</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.first_name }} {{ user.last_name }} <span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" style="padding-top:60px">
      <div class="row">
        <div class="col-lg-12">
          <div class="alerts">
            {% block errors %}{% endblock %}
          </div>
          {% block content %}placeholder, you should replace me!{% endblock %}
        </div>
      </div>
    </div>
    {% block page_js %}{% endblock %}
  </body>
</html>

