{% extends "vault/base.html" %}


{% block errors %}
{% if error %}
<div class="alert fade in" data-dismiss="alert">{{ error }}<a class="close" href="#">&times;</a></div>
{% endif %}
{% endblock %}


{% block content %}
<div class="col-md-4 col-md-offset-4">
  <h3 style="color:#888">Sign In</h3>
  <div class="well">
    <p style="font-weight:bold">This is currently a work in progress and is not meant for actual use. You'd think this would be obvious but here we are.</p>
    <form action="/login/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" id="username">
      </div>
      <div class="form-group" style="padding-top:5px">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script>
  $(document).ready(function() {
    $('#username').focus();
  });
</script>
{% endblock %}
