{% extends "vault/base.html" %}
{% block content %}
<div style="padding-bottom:20px">
  <h3 class="pull-left">Projects <a data-toggle="modal" href="#create-project-modal" class="linkify-glyphicon"><span class="glyphicon glyphicon-plus-sign"></span></a></h3>
</div>
{% if num_projects == 0 %}
<div class="clearfix"></div>
<h3>You have no projects. Create one!</h3>
{% else %}
<div class="project-table">
  <table class="table table-striped">
    <tr>
      <th>Project Name</th>
      <th>Description</th>
    </tr>
    {% for project in project_list %}
    <tr>
      <td><a href="/project/{{project.id}}">{{project.name}}</a></td>
      <td>{{project.description}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
<div class="modal fade" id="create-project-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Project</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="project-name">Project Name</label>
          <input type="text" class="form-control" id="project-name" name="project-name" placeholder="Unrelenting Genius">
        </div>
        <div class="form-group" style="padding-top:10px">
          <label for="project-desc">Project Description</label>
          <input type="text" class="form-control" id="project-desc" name="project-desc" placeholder="Cloud Secure AJAX ReSTful Python Free Range Gluten Free">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="create-project">Create</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script>
  $(function() {
    $('#create-project').click(function() {
      var project_name = $('#project-name').val();
      var project_desc = $('#project-desc').val();
      var opts = { 'project_name' : project_name, 'project_desc' : project_desc };
      $.post('/projects/new/', opts).done(function(msg) {
        $.get('/api/projects').done(function(data) {
          $('.project-table').html(data);
          }).fail(function(xhr,statusString,error) {
          stockade.display_error("Failed to reload projects table");
        });
        $('#create-project-modal').modal('hide');
        stockade.display_success("Created project!");
      }).fail(function(xhr,statusString,error) {
        stockade.display_error("Failed to create project");
      });
    });
  });
</script>
{% endblock %}
