{% extends "vault/base.html" %}
{% block content %}
<div>
  <h3>
    <span id="project-name-header">{{ project.name }}</span>
    <a data-toggle="modal" href="#edit-project-modal" class="edit-project-tooltip linkify-glyphicon"><span class="glyphicon glyphicon-edit"></span></a>
    <a data-toggle="modal" href="#create-secret-modal" class="create-secret-tooltip linkify-glyphicon"><span class="glyphicon glyphicon-plus-sign"></span></a></h3>
</div>
<div class="secrets-table">
  <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>URL</th>
      <th>Username</th>
      <th>Password</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
    {% for secret in project.secret_set.all %}
      <tr>
        <td>{{ secret.category }}</td>
        <td>{{ secret.description }}</td>
        <td>{{ secret.url }}</td>
        <td>{{ secret.username }}</td>
        <td style="width:200px" class="get-secret" data-secret-id="{{ secret.pk }}"><span class="dots">••••••••</span></td>
        <td>{{ secret.modified_date }} by (placeholder: secret last_user)</td>
        <td>
          <a data-toggle="modal" href="#edit-secret-modal" class="edit linkify-glyphicon" data-secret-id="{{ secret.pk }}"><span class="edit-secret glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
          <a href="" class="remove linkify-glyphicon" data-secret-id="{{ secret.pk }}"><span class="remove-secret glyphicon glyphicon-remove"></span></a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
<div>
  <h5 class="pull-left">Members</h5>
  <div class="clearfix"></div>
  <div class="member-list">
    <a class="label label-info">Jarret Raim</a>
    <div class="label label-default">Douglas Mendizabel <span class="glyphicon glyphicon-minus-sign"></span></div>
    <div class="label label-default">John Wood <span class="glyphicon glyphicon-minus-sign"></span></div>
  </div>
  <div style="margin-top:10px">
    <input type="text" id="typeahead-test" autocomplete="off" class="typeahead form-control" placeholder="Add Member">
  </div>
</div>
<div class="modal fade" id="create-secret-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Secret</h4>
      </div>
      <form>
        <input type="hidden"  name="project-id" id="project-id" value="{{project.pk}}">
        <div class="modal-body">
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" placeholder="Server" name="category" id="category">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="description">Description</label>
            <input type="text" class="form-control" placeholder="Name it" name="description" id="description">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="url">URL</label>
            <input type="text" class="form-control" placeholder="ssh://myplace" name="url" id="url">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" id="username">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="password">Password</label>
            <input type="text" class="form-control" placeholder="Password1" name="password" id="password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="create-secret">Create Secret</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="edit-secret-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Update Secret</h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" class="form-control" placeholder="Server" name="category" id="category-se">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="description">Description</label>
            <input type="text" class="form-control" placeholder="Name it" name="description" id="description-se">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="url">URL</label>
            <input type="text" class="form-control" placeholder="ssh://myplace" name="url" id="url-se">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Username" name="username" id="username-se">
          </div>
          <div class="form-group" style="padding-top:15px">
            <label for="password">Password</label>
            <input type="text" class="form-control" placeholder="Password1" name="password" id="password-se">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="edit-secret-button">Update Secret</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="edit-project-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Project</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="project-name">Project Name</label>
          <input type="text" class="form-control" id="project-name" name="project-name" placeholder="Unrelenting Genius">
        </div>
        <div class="form-group" style="padding-top:10px">
          <label for="project-desc">Project Description</label>
          <input type="text" class="form-control" id="project-desc" name="project-desc" placeholder="Cloud Secure AJAX ReSTful Python Free Range Gluten Free">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="edit-project">Update</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block page_js %}
<script>
  $(function() {
    $('a.edit').tooltip({ 'title' : 'Edit' });
    $('a.remove').tooltip({ 'title' : 'Remove' });
    $('a.edit-project-tooltip').tooltip({ 'title' : 'Edit or Delete Project' });
    $('a.create-secret-tooltip').tooltip({ 'title' : 'Create New Secret' });
    $('#edit-project').click(function() {
      var project_name = $('#project-name').val();
      var project_desc = $('#project-desc').val();
      var project_id = $('#project-id').val();
      var opts = { 'project_name' : project_name, 'project_desc' : project_desc };
      $.post('/project/'+parseInt(project_id)+'/edit', opts).done(function(msg) {
        if (project_name != "" || project_desc != ""){
          stockade.display_success("Edited Project");
        }
        $('#edit-project-modal').modal('hide');
        if (project_name != ""){
          $('#project-name-header').text(project_name);
        }
      }).fail(function(xhr,statusString,error) {
        stockade.display_error("Failed to edit project");
        $('#edit-project-modal').modal('hide');
      });
    });
    $('#create-secret').click(function() {
      var project_id = $('#project-id').val();
      var opts = {
        'project_id' : project_id,
        'category' : $('#category').val(),
        'description' : $('#description').val(),
        'url' : $('#url').val(),
        'username' : $('#username').val(),
        'password' : $('#password').val()
      };
      $.post('/secret/new/', opts).done(function(msg) {
        $.post('/api/secrets/', {'project_id' : project_id } ).done(function(data) {
          $('.secrets-table').html(data);
          }).fail(function(xhr,statusString,error) {
          stockade.display_error("Failed to reload secrets table");
        });
        $('#create-secret-modal').modal('hide');
        window.location.reload();  // Cheatin'!
        stockade.display_success("Created secret");
      }).fail(function(xhr,statusString,error) {
        $('#create-secret-modal').modal('hide');
        stockade.display_error("Failed to create secret");
      });
    });
    $('.typeahead').typeahead([{
      name: 'add-members',
      //remote: '../data/films/queries/%QUERY.json',
      local: ['Paul Kehrer','Jarret Raim','Douglas Mendizabel', 'John Wood']
      //template: '<p><strong>{{value}}</strong> – {{year}}</p>',
      //engine: Hogan
    }]);
    $('.typeahead').bind('typeahead:selected', function(e, datum) {
      $('<div class="label"> <span class="glyphicon glyphicon-minus-sign"></span></div>').prepend(document.createTextNode(datum.value)).appendTo('.member-list');
    });
    //duplicated in secrets_table, bleh
    $('span.dots').tooltip({ 'title' : 'Click to fetch password' });
    $('span.dots').click(function() {
      var node = $(this).parent();
      var secret_id = node.attr('data-secret-id');
      $.post("/secret/",{'secret_id':secret_id}).done(function(msg) {
        node.html('<input readonly="readonly" type="text" style="cursor:pointer;" value="placeholder">').find('input').val(msg.payload).select();
      }).fail(function(xhr,statusString,error) {
        stockade.display_error("Unable to get secret");
      });
      //go do some ajax
    });

    // Delete secret.
    // $('a.remove').tooltip({ 'title' : 'Remove a secret' });
    $('span.remove-secret').click(function() {
      var node = $(this).parent();
      var secret_id = node.attr('data-secret-id');
      $.post("/secret/delete/",{'secret_id':secret_id}).done(function(msg) {
        stockade.display_success("Removed secret");
        // node.parent().remove();
      }).fail(function(xhr,statusString,error) {
        stockade.display_error("Unable to delete secret");
      });
    });

    // Delete secret.
    // $('a.remove').tooltip({ 'title' : 'Remove a secret' });
    $('span.edit-secret').click(function() {
      var node = $(this).parent();
      var secret_id = node.attr('data-secret-id');
      $(this).html('<input type="hidden"  name="edit-secret-id" id="edit-secret-modal-id" value="' + parseInt(secret_id) + '">');
    });

    // Edit Secret.
    $('#edit-secret-button').click(function() {
      var project_id = $('#project-id').val();
      var secret_id = $('#edit-secret-modal-id').val();
      $('#edit-secret-modal-id').remove();
      var opts = {
        'project_id' : project_id,
        'secret_id' : secret_id,
        'category' : $('#category-se').val(),
        'description' : $('#description-se').val(),
        'url' : $('#url-se').val(),
        'username' : $('#username-se').val(),
        'password' : $('#password-se').val()
      };
      $.post('/secret/'+parseInt(secret_id)+'/edit', opts).done(function(msg) {
        $('#edit-secret-modal').modal('hide');
        window.location.reload();  // Cheatin'!
        stockade.display_success("Updated secret");
      }).fail(function(xhr,statusString,error) {
        $('#edit-secret-modal').modal('hide');
        stockade.display_error("Failed to update secret");
      });
    });


  });
</script>
{% endblock %}
