<table class="table table-striped">
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th>URL</th>
    <th>Username</th>
    <th>Password</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
  {% for secret in project.secret_set.all %}
    <tr>
      <td>{{ secret.category }}</td>
      <td>{{ secret.description }}</td>
      <td>{{ secret.url }}</td>
      <td>{{ secret.username }}</td>
      <td style="width:200px" class="get-secret" data-secret-id="{{ secret.pk }}"><span class="dots">••••••••</span></td>
      <td>{{ secret.modified_date }} by (placeholder: secret last_user)</td>
      <td>
        <a href="" class="edit linkify-glyphicon"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
        <a href="" class="remove linkify-glyphicon"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
    </tr>
  {% endfor %}
</table>
<script>
  $(function() {
    // Retrieve decrypted password.
    $('span.dots').tooltip({ 'title' : 'Click to fetch password' });
    $('span.dots').click(function() {
      var node = $(this).parent();
      var secret_id = node.attr('data-secret-id');
      $.post("/secret/",{'secret_id':secret_id}).done(function(msg) {
        node.html('<input readonly="readonly" type="text" style="cursor:pointer;" value="placeholder">').find('input');
        input.val(msg);
        input.select();
      }).fail(function(xhr,statusString,error) {
        stockade.display_error("Unable to get secret");
      });
    });
  });
</script>
